---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import Heading from "src/components/Heading.astro";
import {
  Generation,
  GenerationNameById,
  VersionByVersionGroup,
  VersionGroupByGenerationId,
  VersionNameById,
} from "src/utils/data-read";
import { LANGUAGE_ID } from "src/utils/language";
import versionColorJson from "src/utils/version-color.json";

const headings = [{ depth: 2, slug: "pokemon-by-generation", text: "Pokemon by Generation" }];
---

<StarlightPage frontmatter={{ title: "Pokemon by Generation" }} headings={headings}>
  <Heading heading={headings[0]} />
  <div data-pagefind-ignore="all" class="flex flex-col gap-2">
    {
      Generation.map(({ id }) => (
        <a class=" border rounded-xl p-4" href={`/pokemons/by-generation/${id}`}>
          <span class="text-2xl">{`${GenerationNameById[id][LANGUAGE_ID]} Pokemon`}</span>
          <ul>
            {VersionGroupByGenerationId[id].map((versionGroup) =>
              VersionByVersionGroup[versionGroup.id].map((version) => (
                <li>
                  <span style={{ color: versionColorJson[version.id] }}>{VersionNameById[version.id].name}</span>
                </li>
              ))
            )}
          </ul>
        </a>
      ))
    }
  </div>
</StarlightPage>
