---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { type GetStaticPaths } from "astro";
import PageNumberLink from "src/components/pagination/PageNumberLink.astro";
import PageNumberLinkEllipsis from "src/components/pagination/PageNumberLinkEllipsis.astro";
import { Pokemon } from "src/utils/data-read";

import { Icon } from "@astrojs/starlight/components";
import PokemonCard from "src/components/pokemons/PokemonCard.astro";
import Heading from "src/components/Heading.astro";

export const getStaticPaths = (({ paginate }) => {
  return paginate(
    Pokemon.map(({ id }) => ({
      id,
    })),
    { pageSize: 60 }
  );
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const headings = [{ depth: 2, slug: "list-of-pokemons", text: "List of Pokemons" }];
---

<!--Display the current page number. Astro.params.page can also be used!-->
<StarlightPage frontmatter={{ title: "Pokemons", pagefind: false }} headings={headings}>
  <Heading heading={headings[0]} />
  <div class="pokemon-grid not-content">
    {
      page.data.map(({ id }) => {
        return <PokemonCard id={id} />;
      })
    }
  </div>
  <div class="text-center">
    No.<strong>{page.start + 1}</strong> - <strong>{page.end + 1}</strong> of total <strong>{page.total}</strong> Pokemons
  </div>
  <div class="not-content flex justify-center">
    <nav class="flex flex-wrap rounded-md shadow-sm -space-x-px">
      <a
        class="inline-flex items-center align-middle text-center px-2 text-gray-900 rounded-s-md ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
        href={page.url.prev}
      >
        <Icon name="left-arrow" />
      </a>
      <PageNumberLinkEllipsis baseUrl="/pokemons/list/" startPage={1} endPage={page.currentPage - 1} />
      <PageNumberLink pageNumber={page.currentPage} isHighlighted={true} />
      <PageNumberLinkEllipsis baseUrl="/pokemons/list/" startPage={page.currentPage + 1} endPage={page.lastPage} />
      <a
        class="inline-flex items-center px-2 text-gray-900 rounded-e-md ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
        href={page.url.next}
      >
        <Icon name="right-arrow" />
      </a>
    </nav>
  </div>
</StarlightPage>
<style>
  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(144px, 100% / 6), 1fr));
  }
</style>
