---
import { PokemonById, PokemonTypeByPokemonId } from "src/utils/data-read";
import { capitalizeSnakeCase } from "src/utils/string";
import TypeBadge from "./pokemon/TypeBadge.astro";

const { class: className, id } = Astro.props;
const pokemonName = capitalizeSnakeCase(PokemonById[id].identifier);
---

<div
  class:list={[
    "m-2 p-2 ring-1 rounded-md flex flex-col items-stretch justify-between ring-slate-200 shadow",
    className,
  ]}
>
  <p class="text-center font-semibold">{pokemonName}</p>
  <a class="flex justify-center" href={`/pokemons/pokemon/${id}`}>
    <img
      src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id}.png`}
      alt={pokemonName}
      width="96"
      height="96"
      loading="lazy"
    />
  </a>
  <div class="flex justify-around gap-1">
    {
      PokemonTypeByPokemonId[id].map((pokemonType) => (
        <TypeBadge type_id={pokemonType.type_id} class="max-w-20 flex-auto text-xs p-1" />
      ))
    }
  </div>
</div>
