---
import { TypeById } from "src/utils/data-read";
import { capitalizeFirstLetter } from "src/utils/string";
import typeColorLightJson from "src/utils/type-color-light.json";
import typeColorJson from "src/utils/type-color.json";

const { class: className, type_id } = Astro.props;
---

<a
  class:list={[
    "flex items-center justify-center text-center no-underline rounded-md font-medium ring-1 ring-inset",
    className,
  ]}
  href=`/types/type/${type_id}`
  style=`background-color: ${typeColorLightJson[type_id]};
    color: ${typeColorJson[type_id]};
    --tw-ring-color: ${typeColorJson[type_id]}1A;`
>
  {capitalizeFirstLetter(TypeById[type_id].identifier)}
</a>
